<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="/javascript/index.js"></script>
		<script src="/javascript/spotter_d3.js"></script>
		<title>Home</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
			  <h1>Spotter</h1>
			</div>
			<div class="row">
			  <div class="col-sm-12">
			    <div class="input-group">
			      <span class="input-group-addon">Search</span>
			      <input id="song_search" type="text" class="form-control typeahead" placeholder="Enter a song">
			      <ul id="sug_list">
			      	<li class="song_sug"></li>
			      	<li class="song_sug"></li>
			      	<li class="song_sug"></li>
			      	<li class="song_sug"></li>
			      	<li class="song_sug"></li>
			  	</ul>
			    </div>
			  </div>


			</div>

			<div class="row">
				<div class="col-sm-12 ">
					<!-- To be completed with D3 via javascript -->
				  <svg class="chart" width="1000" height="550"></svg>

				</div>
			</div>

		</div>
	</body>
</html>
