<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<!-- <script src="https://github.com/JMPerez/spotify-web-api-js/blob/master/src/spotify-web-api.js"></script> --> <!-- worth looking into to clean up clutter -->
		<script src="/javascript/index.js"></script>
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
		<title>Home</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
			  <h1>Spotter</h1>
			</div>

			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-6">
					<input id="search_type" type="checkbox" checked data-toggle="toggle" data-on="Search Spotter" data-off="Search Spotify" data-onstyle="primary" data-offstyle="success">
				</div>
			</div>

			<div class="row">
			  <div class="col-sm-12">
			    <div class="input-group">
			      <span class="input-group-addon">Search</span>
			      <input id="song_search" type="text" class="form-control typeahead" placeholder="Enter a song">
			      <ul id="sug_list">
			      	<li class="song_sug"></li>
			      	<li class="song_sug"></li>
			      	<li class="song_sug"></li>
			      	<li class="song_sug"></li>
			      	<li class="song_sug"></li>
			  	</ul>
			    </div>
			  </div>
			</div>

			<div class="row">
				<div class="col-sm-12 ">
					<!-- To be completed with D3 via javascript -->
				  <svg class="chart" width="1000" height="550"></svg>

				</div>
			</div>

		</div>
	</body>
</html>
